
$toggler-bg: darken($primary, 20%);
$navlink-hover-border-bottom: $primary;
$navlink-hover-color: $primary;

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 5;

    .navbar-brand{
        max-width: 200px;
    }//navbar-brand

    .navbar-toggler{
        border: none;

        span{
            display: block;
            width: 30px;
            height: 3px;
            background-color: $toggler-bg;
            margin-bottom: 5px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }//span

    }// navbar-toggler

    .navbar-nav{
        background-color: #fff;

        li{
            @media(min-width:576px){
                margin-left: 20px;
                padding: 5px;
            }
            @media(min-width:768px){
                margin-left: 55px;
            }
            @media(min-width:992px){
                margin-left: 72px;
            }//li

            a{
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.7rem;
                font-weight: 400;
                padding: 10px;
                border-bottom: 1px solid transparent;
                &:hover,&.active{
                    background-color: $navlink-hover-color; 
                }
                @media(min-width:576px){
                    padding: 3px 0;
                    &:hover,&.active{
                        background-color: transparent;
                        border-bottom: 1px solid $navlink-hover-border-bottom;
                    }
                }
                @media(min-width:992px){
                    padding: 2px 2px;
                }
            } //a
        }// li
    }// navbar-nav
} //header